@font-face {
  font-family: 'nowayregular';
  src: url('../../font/noway-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-size-title: 35px;
  --font-size-circles: 40px;
  --font-size-li: 30px;
  --font-size-breadcrumb: 30px;
  --padding-right-language-switcher: 45px;
  --padding-right-language-switcher-lis: 5px;
  --margin-left-main: 70px;
  --margin-left-main-title: 18px;
  --gap-between-columns: 80px;
  --margin-bottom-main-lis: 40px;
  --home-bottom: 10px;
  --home-right: 20px;
  --home-button-heigh: 100px;
}

body{
  font-family: 'nowayregular', sans-serif;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: white;
}

body .dialog-off-canvas-main-canvas{
  width: 100vw;
}

header #block-languageswitcher ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: var(--padding-right-language-switcher);
}

#block-computerspill-breadcrumbs a,
#block-languageswitcher {
  font-size: var(--font-size-breadcrumb);
}

header #block-languageswitcher ul li{
  padding-right: var(--padding-right-language-switcher-lis);
  list-style: none;
}

header #block-languageswitcher ul li:nth-child(2):before{
  content: '/';
  padding-right: var(--padding-right-language-switcher-lis);
  color: lightgray;
}

header #block-languageswitcher ul li a{
  color: lightgray;
}

main {
  margin-left: var(--margin-left-main);
}
main ul {
  column-count: 2;
  column-gap: var(--gap-between-columns);
}

main ul li{
  font-size: var(--font-size-circles);
  margin-bottom: var(--margin-bottom-main-lis);
}

main ul li a{
  font-size: var(--font-size-li);
  font-weight: bold;
}

main #block-computerspill-page-title{
  font-size: var(--font-size-title);
  margin-left: var(--margin-left-main-title);
}

#block-computerspill-breadcrumbs ol{
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
}

[id^="block-home"],
[id^="block-hjaem"]{
  position: absolute;
  bottom: var(--home-bottom);
  right: var(--home-right);
}

video{
  width: 100vw;
  height: calc(100vh - var(--home-button-heigh));
  margin-left: calc((var(--margin-left-main) + 10px) * -1);
  position: absolute;
  top: 0;
}


